@using Web1670.Models;

@model IEnumerable<OrderDetail>
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_LayoutOwner.cshtml";
}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Order Table</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTable_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                <thead>
                                    <tr role="row">
                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Book ID: activate to sort column descending" style="width: 62.3333px;" aria-sort="ascending">Book ID</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Order ID: activate to sort column ascending" style="width: 52.3333px;">Order ID</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Price: activate to sort column ascending" style="width: 72.3333px;">Price</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Quantity: activate to sort column ascending" style="width: 52.3333px;">Quantity</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Total: activate to sort column ascending" style="width: 52.3333px;">Total</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="OrderDetailDate: activate to sort column ascending" style="width: 72.3333px;">Order Detail Date</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th rowspan="1" colspan="1">Book ID</th>
                                        <th rowspan="1" colspan="1">Order ID</th>
                                        <th rowspan="1" colspan="1">Price</th>
                                        <th rowspan="1" colspan="1">Quantity</th>
                                        <th rowspan="1" colspan="1">Total</th>
                                        <th rowspan="1" colspan="1"> Order Detail Date</th>
                                    </tr>
                                </tfoot>
                                </thead>
                                <tbody>
                                    @foreach (var orderdetail in Model)
                                    {
                                        <tr>
                                            <th>@orderdetail.orderID</th>
                                            <th>@orderdetail.bookID</th>
                                            <th>@orderdetail.price</th>
                                            <th>@orderdetail.quantity</th>
                                            <th>@orderdetail.amount</th>
                                            <th>@orderdetail.OrderDetailDate</th>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>
                <a asp-controller="Order" class="btn btn-primary" asp-action="Detail"> Back to Order</a>
            </div>
        </div>
    </div>
    
</div>