@using Web1670.Models;

@model IEnumerable<Order>
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_LayoutOwner.cshtml";
}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Order Table</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTable_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="ID: activate to sort column descending" style="width: 62.3333px;" aria-sort="ascending">ID</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 52.3333px;">Date</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Telephone: activate to sort column ascending" style="width: 72.3333px;">Telephone</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Address: activate to sort column ascending" style="width: 52.3333px;">Address</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Full Name: activate to sort column ascending" style="width: 52.3333px;">Full Name</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Total: activate to sort column ascending" style="width: 72.3333px;">Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th rowspan="1" colspan="1">ID</th>
                                        <th rowspan="1" colspan="1">Name</th>
                                        <th rowspan="1" colspan="1">Date</th>
                                        <th rowspan="1" colspan="1">Telephone</th>
                                        <th rowspan="1" colspan="1">Address</th>
                                        <th rowspan="1" colspan="1">Full Name</th>
                                        <th rowspan="1" colspan="1">Total</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var order in Model)
                                    {
                                        <tr>
                                            <th>@order.orderID</th>
                                            <th>@order.orderDate</th>
                                            <th>@order.orderPhone</th>
                                            <th>@order.orderAddress</th>
                                            <th>@order.orderFullname</th>
                                            <th>@order.OrderTotal</th>
                                            <th> <a asp-controller="OrderDetail" asp-route-id=@order.orderID asp-action="Detail" class="btn btn-primary">View Order Detail</a></th>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>