@using Web1670.Models

@model IEnumerable<Book>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <a class=" btn btn-primary" asp-controller="Book" asp-action="Create">Add book</a>
        <div class="row g-4">
             <div class="col-sm-12 col-xl-12">
                  <div class="bg-light rounded h-100 p-4">
                      <h6 class="mb-4">Basic Table</h6>
                          <table class="table">
                          <thead>
                          <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Datetime</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Publisher</th>
                            <th>Category</th>
                          </tr>
                          </thead>
                          <tbody>
                            @foreach (var book in Model)
                            {
                            <tr>
                                <th>@book.bookID</th>
                                <th>@book.bookName</th>
                                <th>@book.bookDescription</th>
                                <th>@book.bookDate.ToShortDateString()</th>
                                <th>@book.bookQuantity</th>
                                <th>@book.bookPrice</th>
                                <th>@book.pubID</th>
                                <th>@book.cateID</th>
                                <td>
                                    <a asp-action="Edit" asp-route-id=@book.bookID> Edit</a>
                                    <a asp-action="Delete" asp-route-id=@book.bookID onclick="return confirm('Are you sure');"> Delete</a>
                                </td>
                            </tr>
                            }
                          </tbody>
                          </table>
                  </div>
             </div>
        </div>
</div>