@using Web1670.Models

@model IEnumerable<Book>
<a class=" btn btn-primary" asp-controller="Book" asp-action="Create">Add book</a>
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Datetime</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Publisher</th>
    </tr>
    @foreach (var book in Model)
    {
        <tr>
            <th>@book.bookID</th>
            <th>@book.bookName</th>
            <th>@book.bookDescription</th>
            <th>@book.bookDate.ToShortDateString()</th>
            <th>@book.bookQuantity</th>
            <th>@book.bookPrice</th>
            <th>@book.Publisher.pubID</th>
            <td>
                <a asp-action="Edit" asp-route-id=@book.bookID> Edit</a>
                <a asp-action="Delete" asp-route-id=@book.bookID onclick="return confirm('Are you sure');"> Delete</a>
            </td>
        </tr>
    }
</table>