@using Web1670.Models

@model IEnumerable<Publisher>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutOwner.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <a class=" btn btn-primary" asp-controller="Publisher" asp-action="Create">Add Publisher</a>
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Publisher Table</h6>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Address</th>
                            <th>Telephone</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var publisher in Model)
                        {
                            <tr>
                                <th>@publisher.pubID</th>
                                <th>@publisher.pubName</th>
                                <th>@publisher.pubDescription</th>
                                <th>@publisher.pubAddress</th>
                                <th>@publisher.pubTelephone</th>
                                <td>
                                    <a asp-action="Edit" asp-route-id=@publisher.pubID> Edit</a>
                                    <a asp-action="Delete" asp-route-id=@publisher.pubID onclick="return confirm('Are you sure');"> Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



